<app-due-notification></app-due-notification>
<div class="btn" 
     fxLayout="row" 
     fxLayoutAlign="end center">
    <button mat-stroked-button (click)="openDialog()">CREATE NEW TICKET</button>
    <button mat-stroked-button>
        <fa-icon [icon]="faPlus" size="sm"></fa-icon>
        Add column
    </button>
</div>
<!-- end of class btn -->

<!-- <div class="columns"
     fxLayout.gt-xs	="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign.lt-sm="center center">
    <app-column [columnName]="'Backlog'" 
                [tickets]="(tickets$ | async)"
                [users]="(users$ | async)"></app-column>
    <app-column [columnName]="'In Progress'" 
                [tickets]="(tickets$ | async)"
                [users]="(users$ | async)"></app-column>
    <app-column [columnName]="'Review'" 
                [tickets]="(tickets$ | async)"
                [users]="(users$ | async)"></app-column>
</div> -->
<div class="board" 
     cdkDropList 
     [cdkDropListData]="ticketByGroup" 
     (cdkDropListDropped)="onTrackDrop($event)" 
     cdkDropListOrientation="horizontal">

    <div class="card-list mat-elevation-z1" 
         *ngFor="let track of ticketByGroup">
  
      <h2 cdkDragHandle class="mat-h2">{{track.title}}</h2>
  
      <div class="card-list-content" 
           cdkDropList 
           [id]="track.id" 
           [cdkDropListData]="track.tasks"
           [cdkDropListConnectedTo]="trackIds" 
           (cdkDropListDropped)="onTalkDrop($event)">
  
  
          <mat-card *ngFor="let task of track.tasks" cdkDrag>
            <!-- Use the mat-card-content to add the proper spacing. -->
            <mat-card-content>
                {{task.name}}
                <div>{{task.description}}</div>
            </mat-card-content>
          </mat-card>
  
      </div>
  
    </div>
  
  </div>
<!-- end of class .columns -->
<ng-template #createTicketForm>
    <app-create-ticket-form></app-create-ticket-form>
</ng-template>
