<app-due-notification></app-due-notification>
<div class="btn" 
     fxLayout="row" 
     fxLayoutAlign="end center">
    <button mat-stroked-button (click)="addTask()">CREATE NEW TICKET</button>
    <button mat-stroked-button>
        <fa-icon [icon]="faPlus" size="sm"></fa-icon>
        Add column
    </button>
</div>
<!-- end of class btn -->

<div class="columns"
     fxLayout.gt-xs	="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign="center center">
    <app-column [columnName]="'Backlog'"></app-column>
    <app-column [columnName]="'In Progress'"></app-column>
    <app-column [columnName]="'Review'"></app-column>
</div>
<!-- end of class .columns -->