<app-due-notification></app-due-notification>
<div class="btn" 
     fxLayout="row" 
     fxLayoutAlign="end center">
    <button mat-stroked-button (click)="openDialog()">CREATE NEW TICKET</button>
    <button mat-stroked-button>
        <fa-icon [icon]="faPlus" size="sm"></fa-icon>
        Add column
    </button>
</div>
<!-- end of class btn -->

<!-- <div class="columns"
     fxLayout.gt-xs	="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign.lt-sm="center center">
    <app-column [columnName]="'Backlog'" 
                [tickets]="(tickets$ | async)"
                [users]="(users$ | async)"></app-column>
    <app-column [columnName]="'In Progress'" 
                [tickets]="(tickets$ | async)"
                [users]="(users$ | async)"></app-column>
    <app-column [columnName]="'Review'" 
                [tickets]="(tickets$ | async)"
                [users]="(users$ | async)"></app-column>
</div> -->

<!-- <app-board [tracks]="(ticketByGroup$ | async)"
           [users]="(users$ | async)"
           (beingDestroyed)="onBeingDestroyed($event)"></app-board> -->
<app-board [users]="(users$ | async)"></app-board>

<!-- end of class .columns -->
<ng-template #createTicketForm>
    <app-create-ticket-form></app-create-ticket-form>
</ng-template>
