<div class="board" 
     cdkDropList 
     [cdkDropListData]="tracks" 
     (cdkDropListDropped)="onTrackDrop($event)" 
     cdkDropListOrientation="horizontal">

    <div class="card-list mat-elevation-z1" 
         *ngFor="let track of tracks">
  
      <h4 cdkDragHandle>{{track.title}}</h4>
      
      <div class="card-list-content" 
           cdkDropList 
           [id]="track.id" 
           [cdkDropListData]="track.tasks"
           [cdkDropListConnectedTo]="trackIds" 
           (cdkDropListDropped)="onTalkDrop($event, track.title, track.tasks)">
  
          <mat-card *ngFor="let task of track.tasks" cdkDrag>
            <mat-card-content #label>
                <app-task [task]="task" [users]="userMap"></app-task>
            </mat-card-content>
          </mat-card>
          
      </div>
      
    </div>
</div>