
<div class="task" 
     fxLayout="row"
     [@slideDown]>
    <div class="task__content" 
         fxFlex="85" 
         fxLayout="column">
        <h4>{{ticket.name}}</h4>
        <h5>{{ticket.type}}</h5>
        <h5>{{ticket.description}}</h5>
        <span class="task__content__user">
            <button mat-mini-fab>
                <fa-icon [icon]="faUser" size="sm"></fa-icon>
            </button>
            <small class="task__content__user--date">{{ticket.created}}</small>
        </span>
    </div>
    <!-- end of class task__content -->
    <div class="task__action" 
         fxFlex="15">
        <button mat-icon-button 
                [matMenuTriggerFor]="select">
            <fa-icon [icon]="faEllipsisV" size="sm"></fa-icon>
        </button>
        <mat-menu #select="matMenu">
            <button mat-menu-item 
                    [matMenuTriggerFor]="column">Move</button>
        </mat-menu>
        <mat-menu #column="matMenu">
            <button mat-menu-item 
                    *ngFor="let col of columns"
                    (click)="moveTask(col.name)">{{col.name}}</button>
        </mat-menu>
    </div>
    <!-- end of class btn-move -->
</div>