@import '../../../../assets/styles/main.scss';

.mat-tab-group {
    align-items: center;
    margin-top: 20px;
  
}

  ::ng-deep {
    .mat-tab-body-wrapper {
          width: 100%;
          margin-top: 30px;
      
          .mat-tab-body { padding: 0 10px; }
    }
    .mat-tab-header {
          border-bottom: unset !important;
      
          .mat-tab-label {
            min-width: 100px !important;
            padding: 0 15px !important;
            height: 30px !important;
            opacity: unset;
            background-color: $light-gray;
            color: #636363;
      
            &.mat-tab-label-active {
              font-weight: 600;
            }
      
            .mat-tab-label-content { font-size: 12px !important; }
          }
        }
  }