@import '../../../../assets/styles/main.scss';

$start-breakpoint: 600px;

.navigation {
    width: 100%;
    position: relative;

    &__left-btn, &__search {
        @include media($start-breakpoint) {
            & {
                align-items: center;
                margin-top: 15px;
            }
        } 
    }
    
    div:last-child {
        @include media($start-breakpoint) {
            & {
               margin-bottom: 10px;
            }
        }    
    }
}

button:hover {
    color: #F06292;
}

button:last-child {
    margin-left: 15px;
    @include media($start-breakpoint) {
        & {
            margin-left: 0;
            margin-top: 15px;
        }
    } 
}

.mat-toolbar {
    @include media($start-breakpoint) {
        & {
          height: auto !important;
        }
    } 
}

