@import '../../../../assets/styles/main.scss';

$start-breakpoint: 599px;

:host {
    width: 27%;
    margin: 15px 25px 10px 25px;

    @include media($start-breakpoint) {
        & {
           width: 50% !important;
        }
    }
}

.column {
    label {
        position: sticky;
        font-size: 15px;
        font-weight: 600;
    }
}

.arr-down {
    margin-left: 6px;
}
