<mat-sidenav-container class="container">
    <mat-sidenav class="task-list-sidenav"
                 [mode]="sidenavMode"
                 [opened]="!isSmallScreen"
                 [fixedInViewport]="true"
                 #taskSidenav>
        <app-user-profile></app-user-profile>
        <mat-nav-list>
            <mat-list-item class="nav-list" 
                           *ngFor="let nav of navs">
                <a [routerLink]="nav.url"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}">
                   <fa-icon class="nav-icon" [icon]="nav.icon" size="xs"></fa-icon>
                   {{ nav.content }}
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-navigation></app-top-navigation>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>