@import 'typography';
@import '../utils/font';


* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: mat-font-family($custom-typography);
  overflow: hidden;
}

.spacer { flex: 1 1 auto; }

.cursor-pointer { cursor: pointer; }