@import '~@angular/material/theming';
@import 'colors';

@include mat-core();

$primary: mat-palette($mat-pink, 200);
$accent: mat-palette($mat-grey);
$warn: mat-palette($mat-deep-orange, A200);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);