<div class="container">
  <div class="content" fxLayout="row" fxLayoutAlign="center center">
    <div class="content__mini-1">
      <app-login-signup></app-login-signup>
    </div>
    <!-- end of .content__mini-1 -->
    <div class="content__mini-2">
      <div class="layer"></div>
      <div class="header" fxLayout="column" fxLayoutAlign="end start">
          <p>Hey</p>
          <p>Welcome</p>
          <p>Back</p>
      </div>
    </div>
    <!-- end of .content__mini-2 -->
  </div>
  <!-- end of .content -->
</div>