@import '../../../../assets/styles/main.scss';

.container {
    background-color: $light-pink;
  
    .content {
        height: 100vh;

        &__mini-1 {
            background-color: $white;
            z-index: 200;
        }
        &__mini-2 {
            background-color: $bg-header;
        }
    }
}

.content__mini-1, .content__mini-2 {
    width: 320px;
    height: 47%;
    max-width: 100%;
    padding: 45px;
}

.header {
    height: 100%;
}